/* .home-container {
    text-align: center;
    padding: 40px;
    color: #fff;
    background-color: #1e1e2f;
    min-height: calc(100vh - 60px);
  } */
  
  /* .home-banner {
    width: 80%;
    max-width: 800px;
    margin-top: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  } */

  .logo-img {
    width: 300px; /* ou 100%, ou outro valor que se ajuste melhor */
    max-width: 100%;
    display: block;
    margin: 0 auto;
    border: none;         /* remove qualquer borda */
    box-shadow: none;     /* remove sombra */
    background: none;     /* caso tenha fundo */
  }

  .home-container {
    background-color: #1a1a2e; /* fundo padrão da página */
    color: white;
    min-height: 100vh;
  }
  
  .hero-section {
    position: relative;
   
    background-image: url('../assets/desfocado.png'); /* caminho da sua imagem */
    background-size: cover;
    background-position: center 43%;
    background-repeat: no-repeat;
    padding: 4rem 1rem;
    text-align: center;
    background-attachment: fixed;
    backdrop-filter: blur(0px); /* aqui só se quiser efeito de desfoque de elementos internos */
  }
  
  .hero-section::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100px;
    width: 100%;
    background: linear-gradient(to bottom, rgba(26, 26, 46, 0) 0%, #1a1a2e 100%);
    pointer-events: none;
  }
.user-list-box {
  background-color: #1e1e1e;
  color: white;
  padding: 20px;
  border-radius: 12px;
  width: 400px;
  margin: 20px auto;
  box-shadow: 0px 4px 16px rgba(0,0,0,0.3);
}

.user-list-box ul {
  list-style: none;
  padding-left: 0;
}

.user-list-box li {
  padding: 8px 0;
  border-bottom: 1px solid #444;
}
.action-button {
  padding: 5px 10px;
  margin-left: 10px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

.edit-button {
  background-color: #4CAF50;
  color: white;
}

.delete-button {
  background-color: #e74c3c;
  color: white;
}
  